<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="routesdirect.dispatch.custom-cordova-permissions"
    version="0.1">
    <name>Cordova Routes Direct Permissions</name>
    <license>Apache 2.0 License</license>
    <author>Dispatch</author>
    <description>
        Set permissions on Android/iOS for a Cordova project.
    </description>

    <info>
        This plugin is a hacky way to add whatever we need to add to AndroidManifest.xml,
        config.xml or info.plist (iOS).
    </info>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
    </platform>
    
    <platform name="ios">
        <preference name="CAMERA_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>LetsJobIt needs access to your phone camera if you take photos or scan a barcode.</string>
        </config-file>

        <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>LetsJobIt may need to access your photo library for offline storage or to access photos you may need to upload to the application.</string>
        </config-file>

        <preference name="NSLocationWhenInUseUsageDescription" default=" " />
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>Required to access location data. LetsJobIt would like to access your location for GPS tracking purposes. </string>
        </config-file>

        <preference name="NSMotionUsageDescription" default=" " />
        <config-file target="*-Info.plist" parent="NSMotionUsageDescription">
            <string>Required to access activity data. LetsJobIt would like to access your motion usage to more accurately display your position.</string>
        </config-file>

    </platform>
</plugin>
